/*========================*/
/*===  1. CSS Reset    ===*/
/*========================*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, img, strong, ol, li, form, input { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
ul { list-style:none; list-style-position:inside; margin: 0; padding: 0; border: 0; vertical-align: baseline;}
li {

    text-indent: -1em;
    padding-left: 1em;
}
#list22
{
 padding-left: 20px;
}
/*========================*/
/*===  2. General      ===*/
/*========================*/

body { background:#fff; font-size: 13px; line-height: 20px; font-family:'Playfair Display', 'Farsan','PT Serif', Helvetica, Arial, sans-serif; color:#000000; }

#wrapper { width:980px; background:#fff; margin:0 auto; }
.inner { width:900px; margin:0 auto; }
#header, #main, #footer { margin:0 auto; width:100%; }

a { color:#8C1D40; text-decoration:none; transition: color 0.1s linear; -moz-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; -o-transition: color 0.1s linear; }
	a:hover { color:#FFC627; }
	a:active{ outline: none; }
	a:focus{ outline: none; -moz-outline-style: none; }


p { display: block; margin-bottom:20px; }
strong { font-weight:bold; }
input, textarea { font-family: 'Playfair Display','Farsan', 'PT Serif', Arial, 'Helvetica Neue', Helvetica, sans-serif; }

.three_fourth p > a { color:#8C1D40; border-bottom: 1px #8C1D40 dotted;  }
/*.three_fourth p:hover > a { color:#8C1D40; }*/
/*.three_fourth p.current > a { color:#8C1D40; }*/
/*.three_fourth p.current > a:hover { color:#FFC627; }*/
.three_fourth p > a:hover { color:#FFC627; border-bottom: 1px #FFC627 solid;}

.date { color:#00A3E0; font-family: 'Playfair Display','Farsan','PT Serif';}
.news > a { color:#8C1D40; border-bottom: 1px #8C1D40 dotted;  }
.news > a:hover { color:#FFC627; border-bottom: 1px #FFC627 solid;}

::selection { background:#73808c; color:#fff; }

.clear { clear: both; display: block; height: 0; width: 100%; }


/*========================*/
/*===  3. Columns      ===*/
/*========================*/

.one_half, .one_third, .one_fourth, .three_fourth, .two_third, .one_fifth, .two_fifth, .three_fifth, .four_fifth { margin-bottom: 20px; float:left; margin-right: 4%; position:relative; }

.one_half { width:48%; }
.one_third { width:25.66%; }
.two_third { width:70.34%; }
.one_fourth { width:22%; }
.three_fourth { width:74%; }
.one_fifth { width:16.8%; }
.two_fifth { width:37.6%; }
.three_fifth { width:58.4%; }
.four_fifth { width:79.2%; }
.seven_tenth { width:65%; }
.third_tenth { width:35%; }

.last { margin-right: 0 !important; clear: right; }

.full-width { width:100%; }

.divider { display: block; width: 100%; height: 0; clear: both; margin:20px 0px; position: relative; }
	.line { border-top:1px dotted #ddd; margin-top:28px; margin-bottom:29px; }
	.top { text-align: right; border-top:1px dotted #ddd; margin-top:28px; margin-bottom:29px; width:98.35%; }
	.top a { font-size: 8px; line-height: 20px; position:absolute; right:-14px; top:-10px; color:#bbb; }
	.top a:hover { color:#8C1D40; }


/*==========================*/
/*===  4. Typography     ===*/
/*==========================*/

/*==========================*/
/*===  4.1. Heading font ===*/
/*==========================*/

.nav,h1,h2,h3,h4,.home_tagline h1,.tagline h1,.over span,.dropcap1,.dropcap2,.bold,.nivo-caption {
	font-family: 'PT Sans Narrow','Playfair Display','Farsan','PT Serif', Helvetica, Arial;
	/*text-transform:uppercase; */
	font-weight:normal;
}


/*=================================*/
/*===  4.2. Typography elements ===*/
/*=================================*/

h1,h2,h3,h4,h5,h6 { margin-bottom:20px; color:#444;  }
h5,h6 { letter-spacing:.9px; font-weight:bold; line-height:20px; }
h1{ font-size:30px; line-height:30px; }
h2{ font-size:28px; line-height:28px; }
h3{ font-size:20px; line-height:18px; }
h4{ font-size:17px; line-height:22px; font-weight:bold }
h5{ font-size:11px; }
h6{ font-size:10px; }

.title a { color:#444; }
.title a:hover { color:#8C1D40; }

.dropcap1 { color: #444; display: block; float: left; font-size: 40px; line-height: 40px; margin: 0 8px 0 0; }
.dropcap2 { width:40px; height:40px; background:url(../img/dropcap.png) no-repeat; color:#fff; font-size:30px; text-align:center; line-height:40px; display: block; float: left; margin: 0 8px 0 0; }


.pullleft, .pullright { float: right; font-size:15px; font-style:italic; color:#999; width: 32%; margin: 20px 2px 14px 14px; padding: 20px; border-left: 2px solid #e1e1e1;}
	.pullleft { float: left; margin-left: 1px; margin-right: 20px; }

.imageleft, .imageright { float: right; padding: 8px; margin: 8px 0px 8px 24px; border: 1px solid #e1e1e1; }
.imageleft { float: left; margin: 8px 24px 8px 0px; }
.center { display:block; margin-left:auto; margin-right:auto; margin-bottom:30px; }
.border { border:1px solid #e1e1e1; padding:6px; margin-bottom:4px; margin-bottom:30px; }
img.specific { width:auto;}

.blockleft, .blockright { display: block; float: right; border: 1px solid #e1e1e1; margin: 8px 0px 8px 24px; padding: 8px; }
	.blockleft { float: left; margin: 8px 24px 8px 0px; }
	.caption { color: #aaa; font-size: 11px; font-style: italic; text-align: center; margin:0; }

blockquote { color:#aaa; font-size:15px; font-style:italic;  margin:20px 0px 20px 20px; padding:20px; border-left:3px solid #ddd; }
	blockquote p { margin:0px; }
	blockquote span { display:block; font-size:12px; line-height:20px; color:#555; float:right; }

.highlight-light { padding: 2px 5px; background-color: #f0f0bd; color: #222; }
.highlight-dark { padding: 2px 5px; background-color: #555; color: #fff; }

.box { padding:19px 16px; border:1px solid #ddd; text-align:center; margin-bottom:30px; }
	.box-grey { border-color:#ddd; color:#666; }
	.box-orange { border-color:#ffcc99; color:#ff9966; }


/*========================*/
/*===  5. Header       ===*/
/*========================*/

#header { z-index: 999; position: relative; }
	#header .inner { border-bottom:1px dotted #ddd; }
	#header .logo { float:left; margin-top:28px; position:relative; display:block;}
	#header .log { float:left; margin-top:50px; margin-left:25px; position:relative; display:block; font-size:25px; font-family:'PT Sans Narrow'; font-weight: normal;}

/*========================*/
/*===  5.1. Navigation ===*/
/*========================*/

.nav { float:right; height:20px; margin:40px 0; }
.nav ul { list-style:none; position:relative; color:#000000;}
	.nav ul li { float:left; margin-top:5px; margin-left:15px; position:relative; display:block; font-size:20px; font-weight: bold; font-family:'PT Sans Narrow'; color:#000000;}
	.nav ul li > a { color:#000000; padding:0px 8px; line-height:40px; text-decoration:none; display:block;  }
	.nav ul li:hover > a { color:#8C1D40; }
	.nav ul li.current > a { color:#8C1D40; }
	.nav ul li.current > a:hover { color:#8C1D40; }


/*=========================*/
/*===  6. Main Content  ===*/
/*=========================*/

.home_tagline h1 { text-align:center; font-size:32px; line-height:40px; color:#FFC627; }
.home_tagline h1 a { color:#8C1D40; }
.home_tagline h1 a:hover { color:#444; }

.static { margin-bottom:30px; }

.tagline { padding:30px 0px; width:900px; margin:0 auto; border-bottom:1px dotted #ddd; }
	.tagline h1 { font-size:32px; line-height:32px; float:left; margin:0px; }
	.tagline span { float:left; font-size:11px; line-height:11px; color:#aaa; border-left:1px dotted #ccc;  margin:10px 0px 0px 14px; padding-left:14px; }


#main .inner { padding-top:30px; }
.custom_content { padding-bottom:10px; }

.goto { font-size:11px; line-height:11px; display:block; margin-top:24px; }

#homepage-item, #recent-work, #recent-posts { margin-bottom:30px; position:relative; }

#recent-work img { margin-bottom:0px; padding:0px;  }
#recent-work a {  }
#recent-work .over { width:198px; height:130px; }

#homepage-item h4 { margin-bottom:5px; }
#homepage-item p:last-child { margin-bottom:0px; }

#recent-posts p { margin-bottom:0px; background:#fff; }
#recent-posts h5 { line-height:10px; margin-bottom:10px; }
#recent-posts span.post-info { float:none; background:#fff; margin:0px; font-style:italic; color:#b0b0b0; display:block; margin-top:-8px; font-size:11px; }

#recent-work .one_third,#recent-work .one_fourth,#recent-posts .one_third,#recent-posts .one_fourth,#homepage-item .one_third,#homepage-item .one_fourth { margin-bottom:0px; }

.content { width:662px; float:left; margin-right:20px; }
.content .gallery { margin-bottom:30px; }
.content .gallery a > img { width:644px; }

.content_right { margin:0px 0px 0px 20px; }

.heading-img { margin-bottom:30px; width:644px; }

/*========================*/
/*===  6.3. Portfolio  ===*/
/*========================*/

.portfolio { overflow:hidden; }
.portfolio > li { float:left; }
.portfolio li img { width:100%; }

.over { opacity:0; filter: alpha(opacity = 0); position:absolute; background:#fff url(../img/over_plus.png) no-repeat right bottom; }
.over:hover { text-decoration:none; color:#666; }
	.over span { font-size:22px; color:#444; display:block; margin:10px 10px 5px 10px;}
	.over p { margin:0px 10px; color:#999; }

.zoom { background:#fff url(../img/over_zoom.png) no-repeat center center; }

.item-name { display:block; margin-left:7px; margin-bottom:4px; }
	.item-name p { color:#FFC627; font-size:11px; margin-bottom:4px; }
	.item-name .title { margin-top:10px; }
	.item-name h4, .item-name h3 { margin-bottom:6px; }
	.item-name > a { font-size:11px; }

.one-column > li { width:900px; margin-bottom:24px; display:inline-block; float:none; color:#000000;}
	.one-column li:last child { margin:0; }
	.one-column .item-name span { margin-bottom:0px; }
	.one-column .item-name span a { font-size:12px; line-height:20px; display:block; margin-bottom:10px; }
	.one-column p { font-size:12px; }
	.one-column .item-name h4, .one-column .item-name h3 { margin-bottom:20px; margin-top:0px; }

.detailed .item-image { float:left; width:600px; margin-right:30px; }
.detailed .item-name { float:left; width:256px; padding:0; margin:0; }
.detailed .item-name span a { margin-bottom:30px; }
.detailed p { margin-bottom:30px; }

.two-columns { width:950px; }
.two-columns li { width:425px; margin:0 50px 40px 0; }
.two-columns li img, .two-columns .over { width:411px; height:290px; }
.three-columns { width:945px; }
.three-columns li { width:270px; margin:0 45px 35px 0; }
.three-columns li img, .three-columns .over { width:256px; height:180px; }
.four-columns { width:936px; }
.four-columns li { width:198px; margin:0 36px 30px 0; }
.four-columns li img, .four-columns .over { width:184px; height:130px; }

.item-image { width:width; height:height; border:1px solid #e1e1e1; padding:6px; padding-bottom:0px; margin-bottom:4px; }

.gallery li { list-style:none; }

.hidden { display:none; }

.filter { padding-bottom:40px; }
.filter li { float:left; padding-right:10px; border-right:1px solid #ddd; margin-right:10px; font-size:12px; line-height:12px; }
.filter li a { color:#FFC627; }
.filter li:last-child { border:0px; }
.filter li.current a { color:#8C1D40; }


/*========================*/
/*===  7. Footer       ===*/
/*========================*/

#footer { clear:both; }
#footer .one_third, #footer .one_fourth { margin-bottom:0px; }
#footer .inner { padding:30px 0 20px 0; overflow:hidden; border-top:1px dotted #ddd; }

#footer ul { list-style-type: none; list-style-position: outside; }

#footer ul.links li a { color:#FFC627; display:block; font-size:12px; line-height:20px; padding:0px 0px 8px 0px; }

#tweet li { margin-bottom:10px; }
#tweet .twitter-content { padding:10px; background:#e6e6e6; font-size:11px; font-style:italic; }
#tweet .quote { font-size:11px; text-decoration:none; background:url(../img/twitter_quote.png) no-repeat right top; width:198px; height:30px; }
#tweet .quote a span { color:#c0c0c0; padding:10px 0 0 8px; display:block;}
#tweet .quote a:hover { text-decoration:none; }

.flickr_badge_image {margin:0 4px 0 0; float:left;}
.flickr_badge_image img { width:39px; height:39px; padding:2px; border:1px solid #ddd;}


/*========================*/
/*===  7.1. Copyright  ===*/
/*========================*/

.footer_small { clear:both; width:900px; margin:0 auto; overflow:hidden; padding:20px 0; border-top:1px dotted #ddd; }
.copyright { font-size:11px; padding-top:8px; text-align:center; }


/*========================*/
/*===  8. Elements     ===*/
/*========================*/

/*========================*/
/*===  8.1. Icon boxes ===*/
/*========================*/

.icon-image { float:left; width:32px; margin-right:10px; }
.icon-text { float:left; width:156px; overflow:hidden; }
.icon-text h5,.icon-text h6 { margin-bottom:5px; }
.icon-text p { font-size:11px; margin-bottom:10px; }

.one_third .icon-text { width:233px; }
.one_fifth .icon-text { width:109px; }


/*========================*/
/*===  8.4. Toggles    ===*/
/*========================*/

.toggle-view { list-style:none; width:100%; }

.toggle-view li { margin-bottom:4px; position:relative; cursor:pointer; overflow:hidden; }
.toggle-view h6 { text-decoration: none; text-transform: uppercase; padding:7px 8px 7px 30px; font-size:12px; line-height:20px; margin:0; border: 1px solid #e1e1e1; }
	.toggle { background:url(../img/toggle.png) no-repeat 8px 2px; }
	.active { background:url(../img/toggle.png) no-repeat 8px -48px;}

.toggle-view img { position:absolute; left:6px; top:5px; color:#bbb; font-size:22px; }
.toggle-view p { padding:10px 10px 10px 32px; margin:0px; display:none; }


/*========================*/
/*===  8.5. Lists      ===*/
/*========================*/

ol, .list { list-style:inside none; margin-bottom:30px; }
ol li, .list li { color:#000000; line-height:20px; }
	ol { list-style-type:decimal; }
	.disc { list-style-type:disc; }
	.square { list-style-type:square; }
	.circle { list-style-type:circle; }
	.check li { background:transparent url(../img/checklist.png) no-repeat 0px 2px; padding-left:22px; }


/*========================*/
/*===  8.6. NivoSlider ===*/
/*========================*/

.slider #slider { width:900px; height:380px; }
.slider .nivoSlider { background:#fff url(../img/loader.gif) no-repeat 50% 50%; margin-bottom:30px; }
.slider .nivoSlider img { position:absolute; top:0px; left:0px; display:none; }
.slider .nivoSlider a { border:0; display:block; }

.slider .nivo-controlNav { position:absolute; left:10px; bottom:10px; }
.slider .nivo-controlNav a { display:block; width:10px; height:10px; background:url(../img/nivo-slider/bullets.png) no-repeat; text-indent:-9999px; border:0; margin-right:10px; float:left; }
.slider .nivo-controlNav a.active { background-position:0 -10px; }
.slider .nivo-directionNav a { display:block; height:30px; width:30px; background:url(../img/nivo-slider/arrows.png) no-repeat left; text-indent:-9999px; border:0; }
.slider a.nivo-nextNav { background-position:-90px 0; right:15px; top:175px; }
.slider a.nivo-nextNav:hover { 	background-position:-60px 0px; }
.slider a.nivo-prevNav { left:15px; top:175px; }
.slider a.nivo-prevNav:hover { 	background-position:-30px 0px; }

.slider .nivo-caption { bottom:15px; right:15px; left:auto; display:block; width:auto; max-width:630px; overflow:hidden; background:#000; text-shadow:none; }
.slider .nivo-caption p { padding:15px 20px; color:#fff; font-size:22px; text-transform:uppercase; }
.slider .nivo-caption a { color:#fff; text-decoration:underline; }

/*========================*/
/*===  8.7. Table ===*/
/*========================*/

.table{
	width:inherit;
    border: 0px solid #ccc;
}
.table td{
    border: 0px solid #ccc;
	padding-bottom: 1em
}
.pic{
    width:12%;
	vertical-align: top;
}

.pic2{
    width:18%;
	vertical-align: top;
}

.week{
    width:20%;
	vertical-align: top;
}

.content{
    width:inherit;
}

.date{
    width:8%;
	vertical-align: top;
}

.news{
    width:inherit;
}


.state{
    width:22%;
}

.travelcontent{
    width:inherit;
}

